
#img1, #img2, #img3, #img4 {
	width: 200px;
	animation-iteration-count:1;
  	animation-fill-mode : forwards;
  	animation-timing-function: linear;
  	position: relative;
}

@keyframes move1 {
  from {
    left:0%;
  }
  to {
    left:70%;
  }
}
@keyframes move2 {
  from {
    left:0%;
  }
  to {
    left:70%;
  }
}
@keyframes move3 {
  from {
    left:0%;
  }
  to {
    left:70%;
  }
}
@keyframes move4 {
  from {
    left:0%;
  }
  to {
    left:70%;
  }
}


.timer{
	float:right;
	}
	
